/* Define keyframes for rotating animation */
@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

/* Basic body styling */
body {
    font-family: "Pixelify Sans", serif;
    background-color: linear-gradient(to bottom, white, lightgray);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    font-family: "Jacquard 12", serif;
    background-color: #ffffff;
    color: #1b1b1b;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    border: #1b1b1b solid 2px;
}

/* Navigation bar styling */
nav {
    font-family: "Pixelify Sans", serif;
    background-color: #ffffff;
}

/* Unordered list styling */
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* List item styling */
li {
    width: 80vw;
    transition: background-color 0.3s, width 0.5s;
    color: #1b1b1b;
    border: transparent solid 2px;
    border-top: none;
}

/* Anchor tag styling */
a {
    display: flex;
    color: inherit;
    padding: 1vw;
    justify-content: center;
}

/* List item hover effect */
li:hover {
    background-color: #ffffff;
    width: 85vw;
    border-color: #1b1b1b;
}

/* Anchor tag hover effect inside list item */
li:hover a {
    color: #1b1b1b;
}

/* Main content styling centered to fit the content */
main {
    width: 90%;
    margin: 5vh auto auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    border: #1b1b1b solid 2px;
}

/* Section padding and border radius */
section {
    padding: 20px;
}

section li {
    padding: 1vw;
    border: transparent solid 2px;
}

/* List item hover effect for the section with id "skills" */
section#skills li:hover {
    text-shadow: #000000 1px 0px 15px;
}

/* Image styling */
img {
    width: 80%;
    height: auto;
    border-radius: 25px;
    margin: 2vw;
    align-self: center;
}

/* Footer styling */
footer {
    font-family: "Tiny5", serif;
    color: #1b1b1b;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    border: #1b1b1b solid 2px;
    background-color: #ffffff;
}

/* Footer anchor tag styling */
footer a {
    color: #1b1b1b;
    padding: 0 1vw 0;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
    header {
        font-size: 2em;
    }

    ul {
        flex-direction: row;
        justify-content: center;
    }

    li {
        width: 10vw;
    }

    li:hover {
        width: 15vw;
    }

    main {
        width: 50%;
    }

    img {
        width: 50%;
    }
}